*:where(:not(input[type="checkbox"])) {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  background-color: #FFFFFF;
  padding-inline: 16px;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin-bottom: 12px;
}

h1,h2,h3,h4 {
 font-family: sans-serif;
 font-size: 28px;
}

p {
 font-family: sans-serif;
 font-size: 14px;
}

.left-centered {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tekst-container {
  color: #ffffff;
  position: relative;
  text-align: center;
}

.shopbtn {
  background-color: #FFFFFF;
 border: none;
 color: black;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 font-weight: Bold;
 margin: 0.5rem;
}

.shopbtn:hover {
 background: #F3F3F3;
}

.contact-box {
  background-color: #F3F3F3;
  padding: 24px;
}



/***** Header Styling *****/
header {
  display:  flex;
  justify-content: space-between;
  align-items: center;
}

header i {
  font-size: 25px;
  margin: 10px;
  padding-block: 10px;
}

header svg {
  max-width: 120px;
}

input:not([type="checkbox"]) {
  border: 1px solid #dddddd;
  display: inline-block;
  width: 100%;
  padding: 16px;
  margin-block: 8px;
  background-color: #ffffff;
}

label:not(:last-of-type) {
  text-transform: uppercase;
}

.icon-list {
  display: flex;
}

.samtykke {
  margin-block: 16px;
}



/***** Footer Styling *****/
ul.footer-socials-list {
  list-style-type: none;
}

ul.about-only {
  list-style-type: none;
}

.socials-service {
  background-color: #F3F3F3;
  padding: 24px;
  font-weight: lighter;
  font-size: 10px;
  color: #7b7b7c;
}

.about-only-list {
  font-size: 14px;
}




/***** Utility Classes *****/
.invisible {
    visibility: hidden;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: 768px) {

}




@media only screen and (min-width: 1024px) {

}
